body {
  margin : 0px;
  overflow: hidden;
  }

#txt_video {
  font-family: 'Courier New', monospace;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}


.button {
  font-family: 'Courier New', monospace;
  font-size: 15px;
  font-weight: bold;
  position:fixed;
  width:80px;
  height:40px;
  bottom:60px;
  right:20px;
  border: none;
  color: black;
  background-color: #FFBD0B;
  text-align: center;
  text-decoration: none;
  border-radius:50px;
  cursor: pointer;
  z-index: 2;
  transition: 0.3s;
}

.button:hover {
    background-color: #bd8f0f;
}

.button:active {
    background-color: #bd8f0f;
}

.button_video {
  font-family: 'Courier New', monospace;
  font-size: 15px;
  font-weight: bold;
  position:fixed;
  width:80px;
  height:40px;
  bottom:60px;
  right:120px;
  border: none;
  color: black;
  background-color: #b34a24;
  text-align: center;
  text-decoration: none;
  border-radius:50px;
  cursor: pointer;
  z-index: 2;
  transition: 0.3s;
}

.button_video:hover {
    background-color: #943f21;
}

.button_video:active {
    background-color: #943f21;
}

.button_proj {
  font-family: 'Courier New', monospace;
  font-size: 15px;
  font-weight: bold;
  position:fixed;
  width:80px;
  height:40px;
  bottom:60px;
  right:220px;
  border: none;
  color: black;
  background-color: #4c7dc7;
  text-align: center;
  text-decoration: none;
  border-radius:50px;
  cursor: pointer;
  z-index: 2;
  transition: 0.3s;
}

.button_proj:hover {
    background-color: #446dab;
}

.button_proj:active {
    background-color: #446dab;
}
